.modal {
	display: none;
	position: fixed;
	z-index: 3;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;

	background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	position: relative;

	background-color: #fefefe;
	padding: 40px;
	border: 1px solid #888;
	border-radius: 5px;
	max-width: 500px;
	width: 80%;
	overflow: auto;
}

.close-btn {
	position: absolute;
	z-index: 2;
	top: 5px;
	right: 5px;
	padding: 0px 0px 0px 15px;
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close-btn:hover {
	color: black;
}
