* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*:before,
*:after {
	box-sizing: border-box;
}

*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
body {
	height: 100%;
}

input,
button,
textarea {
	font-size: inherit;
	background-color: transparent;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	border: none;
}

a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: inherit;
	-webkit-box-shadow: 0 0 0px 40rem #101014ef inset;
}
input,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}

input:focus {
	border: none;
	outline: none;
}
